.app_header{
    position: sticky;
    top: 0;
    // width: 100vw;
    z-index: 9;
    border-bottom: 1px solid #E4E7EC;
    padding: 16px 40px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    gap: 24px;
}
.profilinitials{
    height: 44px;
    width: 44px;
    display: flex
;
    justify-content: center;
    align-items: center;
    background: #0392CE;
    border-radius: 50%;
    color:white ;
}
.header_left{
    display: flex;
    align-items: center;
    gap: 16px;
}
.toggle_btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    background-color: #fff;
    border: 1px solid #E4E7EC;
    border-radius: 8px;
    padding: 0;
}
.header_right{
    display: flex;
    align-items: center;
    gap: 16px;
}
.header_search{
    display: none;
    position: relative;
    span{
        display: flex;
        align-items: center;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 16px;
    }
    .form-control{
        padding: 9px 16px 9px 49px;
    }
}
.notification_btn{
    .dropdown-toggle{
        background-color: #fff;
        border: 1px solid #E4E7EC;
        width: 44px;
        height: 44px;
        border-radius: 50%;
        padding: 0;
        &::after{
            content: none;
        }
        &:hover{
            span{
                color: #fff;
            }
        }
    }
    .notification_count{
        position: absolute;
        top: 0;
        right: 0;
        border-radius: 30px;
        background-color: #FD853A;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        min-width: 16px;
        height: 16px;
        font-size: 11px;
        font-weight: 400;
        color: #fff;
        padding: 4px;
    }
    .notification_menu{
        min-width: 420px;
        border-radius: 10px;
        background-color: #FFF;
        padding: 0;
        border: none;
        .notification_header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 20px 10px;
            border-bottom: 1px solid #DEDEDE;
            button{
                background-color: transparent;
                border: none;
            }
            h6{
                font-size: 22px;
                font-weight: 500;
                color: #2D2B32;
                margin-bottom: 0;
            }
        }
        .notification_tab{
            display: inline-flex;
            border-radius: 5px;
            background-color: #F1F1F1;
            padding: 5px 5px;
            margin: 20px 14px 28px;
            .nav-link{
                font-size: 16px;
                font-weight: 400;
                color: #8094AE;
                span{
                    margin-left: 7px;
                    border-radius: 5px;
                    background-color: #CDE9F5;
                    min-width: 32px;
                    display: inline-block;
                    text-align: center;
                    color: #000;
                }
                &.active{
                    background-color: #fff;
                    color: #000;
                }
            }
        }
    }
    .notification_list{
        display: flex;
        flex-direction: column;
        gap: 14px;
        margin: 0 0 20px;
        padding: 0;
        li{
            display: flex;
            align-items: flex-start;
            gap: 8px;
            padding: 12px 10px;
            background-color: #F8F8F8;
        }
        .notification_list_icon{
            width: 35px;
            height: 35px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 5px;
        }
        .notification_list_txt{
            flex: 1;
            h3{
                font-size: 16px;
                font-weight: 500;
                color: #2D2B32;
                margin-bottom: 3px;
            }
            p{
                font-size: 14px;
                color: #667085;
                margin-bottom: 5px;
            }
        }
        .notification_time{
            display: flex;
                align-items: center;
                gap:20px;
            p{
                display: flex;
                align-items: center;
                gap:6px;
                font-size: 12px;
                margin-bottom: 0;
            }
            a{
                font-size: 12px;
                font-weight: 500;
                color: #0392CE;
                text-decoration: none;
            }
        }
    }
}
.user_account{
    .dropdown-toggle{
        display: flex;
        align-items: center;
        gap: 8px;
        img{
            width: 100%;
            max-width: 44px;
            height: 44px;
            object-fit: cover;
        }
        &::after{
            content: none;
        }
    }
    .profile_info{
        margin-right: 30px;
        .profile_name{
            font-size: 14px;
            font-weight: 500;
            color: #212121;
            margin-bottom: 0;
        }
        .profile_role{
            font-size: 12px;
            font-weight: 500;
            color: #0392CE;
            margin-bottom: 0;
        }
    }
}


@media (max-width: 1199px) {
    .app_header{
        padding: 16px 16px;
    }
    .top_bar_tittle{
        h2{
            font-size: 18px;
        }
    }
}
@media (max-width: 567px) {
    .user_account{
        .profile_info{
            display: none;
        }
    }
}
@media (max-width: 767px) {
    .app_header{
        gap: 12px;
    }
    .user_account {
        .profile_info{
            margin-right: 2px;
        }
        .dropdown-toggle{
            gap: 6px;
            img{
                width: 100%;
                max-width: 36px;
                height: 36px;
                object-fit: cover;
            }
        }
    }
    .header_right,.header_left{
        gap: 12px;
    }
    .toggle_btn {
        width: 36px;
        height: 36px;
        border-radius: 4px;
    }
    .header_search{
        .form-control {
            padding: 5px 16px 5px 37px;
        }
        span{
            left: 10px;
        }
    }
    .notification_btn {
        .dropdown-toggle{
            width: 36px;
            height: 36px;
        }
        .notification_count{
            top: -6px;
            right: -2px;
        }
        .notification_menu{
            min-width: 260px;
            .notification_header {
                padding: 14px 10px;
                h6{
                    font-size: 18px;
                }
            }
            .notification_tab{
                margin: 12px 14px 12px;
            }
        }
        .notification_list{
            li{
                flex-direction: column;
            }
        }
    }
}