.login_sec{
  position: relative;
  padding: 0 16px;
  width:100vw;
  background-color: #f6f6f6;
  &:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(13px);
    z-index: 1;
  }
}
.login_wrapper {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  video{
    position: absolute;
    bottom: -400px;
    width: 3800px;
    // left: 0;
    height: 100%;
    object-fit: cover;
  }
  video::-webkit-media-controls {
    display: none !important;
  }
}


.login_card {
  position: relative;
  z-index: 1;
  background: #F7F7F7;
  border: 1px solid #E0E0E0;
  max-width: 472px;
  width: 100%;
  border-radius: 18px;
  box-shadow: 0 0 58.383px -22.455px rgba(0, 0, 0, 0.25);
  text-align: center;
  overflow: hidden;
}
.auth_form_card{
  background-color: #fff;
  border-bottom: 1px solid #E0E0E0;
   padding: 20px 16px 0;
   border-bottom-left-radius: 8px;
   border-bottom-right-radius: 8px;
}
.auth_form{
  max-width: 382px;
  margin: 0 auto;
  width: 100%;
}
.auth_logo {
  margin-bottom: 10px;
  img{
    width: 180px;
  }
}

.auth_tittle {
  h2 {
    font-size: 30px;
    font-weight: 700;
    color: #2D2B32;
    margin-bottom: 4px;
  }

  p {
    font-size: 16px;
    color: #667085
  }
}
.auth_footer{
  background: #F7F7F7;
  padding: 20px 16px;
  text-align: center;
  p{
    font-size: 16px;
    color: #7C7C7C;
    margin-bottom: 0;
    a{
      font-weight: 600;
      color: #5D5D5D;
      text-decoration: none;
    }
  }
}
.auth_btn{
  padding: 20px 0 30px;
  .btn{
    width: 100%;
  }
}
.forget_password{
  a{
    display: inline-block;
    font-size: 14px;
    color: #2D2B32;
    text-decoration: none;
  }
}