@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body{
    font-family: "Outfit", sans-serif;
}
.mb_20{
    margin-bottom: 20px !important;
}
.mt_20{
    margin-top: 20px;
}
.mb_30{
    margin-bottom: 30px;
}
.main_wrapper{
    display: flex;
    .main_layout{
        width: 100%;
        margin-left: 290px;
        display: flex;
        flex-direction: column;
    }
    .main_content{
        padding: 30px 40px;
        background-color: #F9FAFB;
    }
}
.custom_input_filled{
    margin-bottom: 20px;
}
.form-label{
    font-size: 1rem;
    font-weight: 400;
    color: #2D2B32;
    display: block;
    text-align: left;
    margin-bottom: 6px;
}
.form-control{
    width: 100%;
    border: 1px solid #E6E6E6;
    border-radius: 4px;
    color: #6E6E6E;
    font-size: 16px;
    font-size-adjust: 0.45;
    font-weight: 400;
    padding: 7px 10px;
    background-color: #fff;
    box-shadow: none;
    &::placeholder{
        color: #6E6E6E;
    }
    &:focus{
        box-shadow: none;
        border-color: #0392CE;
    }
}
.form-check{
    padding-left: 30px;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    gap: 12px;
    .form-check-input[type=checkbox]{
        width: 19px;
        height: 19px;
        box-shadow: unset;
        border: 1.5px solid #1D2939;
        border-radius: 7px !important;
        margin-left: -30px;
        cursor: pointer;
        user-select: none;
        &:checked{
            background-color: #0392CE;
            border-color: #0392CE;
        }
    }
    .form-check-input[type=radio]{
        transform: translateY(-2px);
        border: 1.5px solid #1D2939;
        box-shadow: none;
        cursor: pointer;
        user-select: none;
        &:checked{
            background-color: #0392CE;
            border-color: #0392CE;
        }
    }
    .form-check-label{
        font-size: 14px;
        font-weight: 500;
        color: #667085;
    }
}
.form-select{
    width: 100%;
    border: 1px solid #E6E6E6;
    border-radius: 4px;
    color: #6E6E6E;
    font-size: 16px;
    font-size-adjust: 0.45;
    font-weight: 400;
    padding: 7px 10px;
    background-color: #fff;
    box-shadow: none;
    background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fillRule='evenodd' clipRule='evenodd' d='M15.7598 4.47364L8.8125 11.421L1.8652 4.47364L0.812486 5.52636L8.8125 13.5263L16.8125 5.52636L15.7598 4.47364Z' fill='%23526484'/%3E%3C/svg%3E%0A");
    &:focus{
        box-shadow: none;
        border-color: #0392CE;
    }
}
.btn{
    font-weight: 700;
    border-radius: 8px;
    padding: 11px 12px;
    &.btn-sm{
        font-weight: 500;
        padding: 5px 12px;
    }
    &.btn_flex{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
    }
}
.badge{
    font-size: 12px;
    font-weight: 500;
    padding: 5px 10px;
    display: inline-flex;
    align-items: center;
    gap: 2px;
    &.bg-success{
        background-color: #ECFDF3 !important;
        color: #039855;
    }
    &.bg-danger{
        background-color: rgb(251 55 72 / 12%) !important;
        color: #FB3748;
    }
    &.bg-warning{
        background-color: #FBEED8 !important;
        color: #FD853A !important;
    }
   
} 


.dashboard_stats_grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px 20px;
    margin-bottom: 30px;
    &.dashboard_stats_grid_four{
        grid-template-columns: repeat(4,1fr);
    }
    // @media (max-width: 1024px) {
    //     .dashboard_stats_grid{
    //         grid-template-columns: repeat(2,1fr);
    //     }
    // }
    // @media (max-width: 767px) {
    //     .dashboard_stats_grid{
    //         grid-template-columns: repeat(1,1fr);
    //     }
    // }
    .stat_card{
        display: flex;
        flex-direction: column;
        gap: 8px;
        padding: 16px 20px;
        background-color: #fff;
        border-radius: 10px;
        border: 1px solid #E4E7EC;
        height: 100%;
        .stat_card_header{
            display: flex;
            align-items: start;
            justify-content: space-between;
        }
        .stat_left{
            p{
                color: #344054;
                font-size: 16px;
                font-weight: 500;
                margin-bottom: 0;
            }
            h2{
                color: #1D2939;
                font-size: 30px;
                font-weight: 700;
                margin-bottom: 0;
            }
        }
        .stats_card_footer{
            display: flex;
            gap: 10px;
            align-items: center;
            margin-top: auto;
            p{
                font-size: 14px;
                color: #667085;
                margin-bottom: 0;
            }
        }
        .stat_icon{
            width: 100%;
            max-width: 40px;
            height: 40px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}
.common_card{
    background-color: #fff;
    padding: 20px 20px;
    border-radius: 10px;
    &.border_card{
        border: 1px solid #E4E7EC;
    }
}

.top_bar_flx{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: .75rem;
    margin-bottom: 30px;
}
.top_bar_tittle{
    h2{
        font-size: 24px;
        font-weight: 600;
        color: #1D2939;
        margin-bottom: 0;
    }
    h3{
        font-size: 16px;
        font-weight: 700;
        color: #1D2939;
        margin-bottom: 0;
    }
    p{
        font-size: 16px;
        font-weight: 500;
        color: #344054;
        margin: 0 0 0;
    }
}
.top_bar_border{
    padding-bottom: 12px;
    margin-bottom: 16px;
    border-bottom: 1px solid #E4E7EC;
}
.top_right_flx{
    display: flex;
    gap: 1rem;
}
.serach_table{
    display: flex;
    position: relative;
    width: 100%;
    button{
        position: absolute;
        background-color: unset;
        border: none;
        display: inline-flex;
        align-items: center;
        left: 10px;
        top: 50%;
        transform: translateY(-50%);
        padding: 0;
    }
    .form-control{
        padding: 7px 10px 7px 42px;
        border-radius: 4px;
    }
}
.green_bg_rbg{
    background-color: #e0f2ea;
}
.orange_bg_rbg{
    background-color: #FBEED8 ;
}
.red_bg_rbg{
    background-color: #ffe7e9  ;
}
.purple_bg_rbg{
    background-color: #e3d7f8  ;
}
.blue_bg_rbg{
    background: rgba(3, 146, 206, 0.06);
}
.back_btn{
    display: inline-flex;
    align-items: center;
    gap: 10px;
    background-color: transparent;
    border: none;
    padding: 0;
    font-size: 18px;
    font-weight: 600;
    color: #808084;
    margin-top: 5px;
    
}
.outline_tab {
    border-bottom: 1px solid #8094AE;
    .nav-link{
        background-color: transparent;
        border: none;
        font-size: 14px;
        font-weight: 500;
        color: #667085;
        padding: 18px 20px;
        border-radius: 0;
        display: inline-flex;
        align-items: center;
        gap: 4px;
        &.active{
            background-color: transparent;
            color: #0392CE;
            box-shadow: inset 0 -2px 0px #0392CE;
            svg{
                path{
                    fill: #0392CE;
                }
            }
        }
    }
}
.common_card_shadow{
    border-radius: 10px;
    background-color: #FFF;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
}
.common_card_shadow_body{
    padding: 29px 16px 20px;
    .btn{
        font-weight: 500;
    }
}
.stats_txt{
    &.stats_txt_flx{
        display: flex;
        flex-direction: column;
    }
    &.stats_txt_flx_row{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    p{
        font-size: 14px;
        font-weight: 400;
        color: #667085;
        margin-bottom: 0;
    }
    h3{
        font-size: 14px;
        font-weight: 600;
        color: #2D2B32;
        margin-bottom: 0;
    }
    a{
        display: inline-block;
        font-size: 14px;
        font-weight: 600;
        color: #0392CE;
    }
}
.persoanl_infomation_head{
    margin-bottom: 29px;
    h3{
        font-size: 16px;
        font-weight: 700;
        color: #2D2B32;
        margin-bottom: 0;
    }
}

.personal_infomation_flex{
    display: flex;
    align-items: center;
    gap: 10px;
    .personal_infomation_icon{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #F1F5F9;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .stats_txt{
        flex: 1;
    }
}
.persoanl_infomation_flx{
    display: flex;
    flex-direction: column;
    // gap: 29px;
}
.personal_infomation_bottom{
    margin: 40px 0 0;
    .form-control{
        border-radius: 8px;
        border: 1px solid #E6E6E6;
        background-color: #F8FAFC;
    }
}

.progress{
    --bs-progress-bar-bg: #0392CE;
    --bs-progress-height: 10px;
    background-color: rgba(3, 146, 206, 0.10);
}
.progress-bar{
    border-radius: 30px;
} 


.dropdown-menu{
    background-color: #fff;
    border: 1px solid #E6E6E6;
    .dropdown-item{
        color: #667085;
        font-size: 14px;
        &.active{
            background-color: #0392CE;
            color: #fff;
        }
        &:active{
            background-color: #0392CE;
            color: #fff;
        }
        &.text-danger{
            &:active{
                background-color:rgba(251, 55, 72, 0.12);
            }
        }
    }
    hr.dropdown-divider {
        display: none;
    }
}


.common_modal{
    background-color: rgb(255 255 255 / 26%);
    backdrop-filter: blur(9px) saturate(200%);
    .modal-footer{
        gap: 20px;
        padding: 32px 0 0;
        border: none;
        .btn{
            flex: 1;
            margin: 0;
            font-weight: 500;
        }
    }
    .modal-content{
        background-color: #F9FAFB;
        padding: 16px 18px;
        border: 1px solid #8D8D8D;
        border-radius: 10px;
    }
    .modal-header{
        border-bottom: 1px solid #8094AE;
        margin-bottom: 26px;
        padding: 0 0 17px;
        .modal-title{
            h2{
                font-size: 16px;
                font-weight: 700;
                color: #1D2939;
                margin-bottom: 0;
            }
            p{
                font-size: 16px;
                font-weight: 400;
                color: #344054;
                margin-bottom: 0;
            }
        }
        .btn-close{
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M14.6465 10.1289L9.85449 14.9209' stroke='%23344054' stroke-width='1.04527' stroke-linecap='square'/%3E%3Cpath d='M14.6466 14.924L9.85059 10.127' stroke='%23344054' stroke-width='1.04527' stroke-linecap='square'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12.25 21.7832C17.3586 21.7832 21.5 17.6418 21.5 12.5332C21.5 7.42456 17.3586 3.2832 12.25 3.2832C7.14137 3.2832 3 7.42456 3 12.5332C3 17.6418 7.14137 21.7832 12.25 21.7832Z' stroke='%23344054' stroke-width='1.04527' stroke-linecap='round'/%3E%3C/svg%3E");
            background-size: unset;
            padding: 0;
            opacity: 1;
            width: 24px;
            height: 24px;
            box-shadow: unset;
            margin: 0 0 0 auto;
        }
    }
    .modal-body{
        padding: 0 0;
    }
    &.electronic_signature_modal{
        .modal-content{
            max-width: 580px;
            margin: 0 auto;
            padding: 24px 14px 36px;
            background-color: #F8FAFC;
            border: 1px solid #F8FAFC;
        }
        .modal-header{
            border-bottom: none;
            padding: 0 0 0;
            .btn-close{
                display: none;
            }
        }
        .signing_credentials{
            padding: 10px 10px;
            border-bottom: 1px solid #DFDFDF;
            .stats_txt{
                p{
                    color: #344054;
                    margin-bottom: 4px;
                }
                h3{
                   color: #344054; 
                }
            }
        }
        .certified_check{
            background-color: #F7F8FC;
            border: 1px solid #E6E6E6;
            padding: 15px 6px 20px 20px;
            border-radius: 10px;
            margin-top: 26px;
        }
        .darg_sign_card{
            border: 1px solid #DBDBDB;
            border-radius: 10px;
            padding: 14px 16px 22px;
            margin-bottom: 26px;
        }
        .darg_sign_card_border{
            border: 1px dashed #A3A1A1;
            border-radius: 10px;
        }
        .draw_signature_below{
            display: flex;
            align-items: center;
            justify-content: space-between;
            p{
                font-size: 16px;
                font-weight: 500;
                color: #8094AE;
                margin-bottom: 0;
            }
            .btn{
                font-size: 16px;
                font-weight: 400;
                color: #000;
                text-decoration: none;
                display: inline-flex;
                gap: 7px;
            }
        }
    }
}



@media (max-width: 1400px){
    .dashboard_stats_grid{
        .stat_card{
            padding: 16px 14px;
            .stats_card_footer {
                p{
                    font-size: 12px;
                }
            }
        }
    }
}
@media (max-width: 1199px){
    .mb_20{
        margin-bottom: 16px;
    }
    .mt_20{
        margin-top: 16px;
    }
    .mb_30{
        margin-bottom: 20px;
    }
    .top_bar_tittle{
        h2{
            font-size: 18px;
        }
    }
    .main_wrapper{
        .main_content{
            padding: 20px 16px;
        }
    }
    .dashboard_stats_grid{
        &.dashboard_stats_grid_four{
            grid-template-columns: repeat(2, 1fr);
        }
        .stat_card{
            .stats_card_footer {
                p{
                    font-size: 14px;
                }
            }
        }
    }
}
@media (max-width: 1024px){
    .main_wrapper{
        .main_layout{
            margin-left: 0;
        }
    }
}
@media (max-width: 767px){
    .common_card{
        padding: 16px 16px;
    }
    .dashboard_stats_grid{
        grid-template-columns: repeat(1, 1fr);
        &.dashboard_stats_grid_four{
            grid-template-columns: repeat(1, 1fr);
        }
    }
    .outline_tab{
        overflow-x: auto;
        white-space: nowrap;
        flex-wrap: nowrap;
    }
    .common_modal{
        .modal-footer{
            gap: 16px;
            padding: 20px 0 0; 
        }
        .modal-header{
            .modal-title{
                p{
                    font-size: 14px;
                }
            }
        }
        &.electronic_signature_modal{
            .modal-content{
                padding: 16px 14px 16px;
            }
            .modal-header{
                align-items: flex-start;
                .btn-close{
                    display: block;
                }
            }
            .darg_sign_card{
                border: none;
                padding: 0;
                margin-bottom: 12px;
            }
            .signing_credentials{
                padding: 0;
            }
            .certified_check{
                margin-top: 12px;
                border: none;
                background-color: unset;
                padding: 0;
                .form-check{
                    align-items: flex-start;
                    .form-check-label{
                        font-weight: 400;
                    }
                }
            }
            .draw_signature_below{
                p{
                    font-size: 14px;
                }
            }
        } 
    }
}


